* { margin: 0; padding: 0; box-sizing: border-box; }
::selection { background-color: yellow; color: black; }
::-webkit-scrollbar { width: 5px; height: 5px; }
::-webkit-scrollbar-track { background: #eee; }
::-webkit-scrollbar-thumb { background: #737373; }
a { color: #ddd; text-decoration: none; }


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
  overflow-x: hidden;
}
